@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


* {
  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
*::-webkit-scrollbar {
  display: none;
}
