@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
*::-webkit-scrollbar {
  display: none;
}
